@{
    ViewData["Title"] = "Sayfa Bulunamadı";
}
<div class="text-center mt-5">
    <h1>404</h1>
    <p>Üzgünüz, aradığınız sayfa bulunamadı.</p>
    <a class="btn btn-primary" href="@Url.Action("Index","Home")">Anasayfaya Dön</a>
</div>
