@model Notifico.Models.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<h2>Şifremi Unuttum</h2>

@if (TempData["ResetPasswordInfo"] != null)
{
    <div class="alert alert-info mt-4">@TempData["ResetPasswordInfo"]</div>
}
@if (TempData["ResetPasswordLink"] != null)
{
    <div class="alert alert-secondary mt-2">
        Şifre sıfırlama linki: <a href="@TempData["ResetPasswordLink"]">Buraya Tıkla</a>
    </div>
}

<form asp-action="ForgotPassword" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Sıfırlama Linki Gönder</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
