@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center mt-5">
    <h1>
        <span class="text-primary"><i class="bi bi-bag-check-fill"></i> Notifico'ya Hoşgeldiniz!</span>
    </h1>
    <p class="lead mt-4">Alışverişe başlamak için yukarıdaki menüyü kullanabilirsiniz.</p>
</div>
