@{
    ViewData["Title"] = "Sipariş Başarılı";
}
<div class="alert alert-success mt-5">
    <h2>Siparişiniz başarıyla alındı!</h2>
    <a href="@Url.Action("Index", "Product")" class="btn btn-primary mt-3">Alışverişe Devam Et</a>
</div>
